{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}

  <!-- Determine title -->
  {% set title = config.site_name %}
  {% if page and page.title and not page.is_homepage %}
    {% set title = config.site_name ~ " - " ~ page.title | striptags %}
  {% endif %}

{% endblock %}

<!-- content block -->
{% block content %}
  <!-- Google AdSense Code -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3917728632267850"
  crossorigin="anonymous"></script>
  <!-- End Google AdSense Code -->
  {{ super() }}
{% endblock %}